.container {
  padding: 0 2rem;
}
.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 38em;
  width: 88%;
  margin-bottom: 128px;
}
.content h1, .content h2{
  color: white;
}
.header{
  padding-top: 24px;
}

.dropzone{
  color: white;
  width: 256px;
  background: #1B1B1B;
  border: #AAAAAA 2px dashed;
  padding: 12px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  /* margin: auto; */
}
.link{
  color: #130430;
  border-bottom: 1px solid;
}
.link:hover{
  color:#9E77F3;
}

.dropzoneicon svg{
  width: 32px;
  margin: auto;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  /* text-align: right; */
  font-size: 12px;
  padding: 8px;
}
.footer_title{
  font-weight: bold;
  color: #9E77F3;
}
.footer ul{
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}
.footer ul li a{
  color: #9E77F3;
  border-bottom: 1px solid;
}
.footer ul li a:hover{
  color: white;
}
.step{
  color: white;
  margin-bottom: 32px;
  margin-top: 32px;
}
.step > div:nth-child(2){
  margin-top: 12px;
  font-size: 14px;
  color: #8159d9;
}
.text > a{
  border-bottom: 1px solid white;
}
.text{
  font-size: 14px;
  color: #8159d9;
}

.done{
  color: white;
  border-radius: 8px;
  background: #8159d9;
  padding: 8px;
  margin-top: 12px;
  text-align: center;
  overflow: auto;
}

.done > div:nth-child(3){
  font-size: 12px;
  padding: 4px;
}

.btn{
  background: transparent;
  border: 1px solid #E7DDFF;
  color: #E7DDFF;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover{
  color: white;
  border: 1px solid white;
}
.code{
  font-size: 10px;
  width: 100%;
}